.body{
    background-color: black;
    
}




.bg{
    width: 1340px;
    margin: 70px auto;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}
.bg-img{
    width: 100%;
    border-radius: 16px;
    opacity: 0.44;
    position: relative;
    border-bottom: 5px solid lightslategray;
}
.content{
    position: absolute;
    bottom: 140px;
    color: white;
    left: -150px;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-left: 215px;
  
}

.input{
    width: 250px;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
   background-color: lightgray;
    border: 2px solid lightgray;
    color: black;
    font-size: 16px;
    height: 50px;
    border-radius:px;
    
  
}

.btn{
    background-color:red;
    border: none;
  color: white;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 13px;
   
}

.logo{
width: 200px;
margin-bottom: -20px;
margin-right: 800px;
top: 500;




}
.english{
    border-radius: 3px;
    color: white;
    background-color: transparent;
  width: 130px;
  height: 30px;
  border: 1px solid lightslategray;
  margin-right: 20px;
  margin-bottom: 100px;

}

.sign{
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 20px;
}

.ok{

    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 1415px;
    
    
}

.watch{
    text-align: center;
    font-size: medium;
position: fixed;
margin-bottom: 500px;

}




.flex{

    display: flex;
    flex-wrap: wrap;
    
}

.tvd{

    position: absolute;
    right: 0;
    align-items: center;
    margin-right: 190px;
    margin-top: 100px;
    
    display: flexbox;
    

}

.tvok{
    margin-left: 600px;
    position: relative;
   
    display: flexbox;
   
    
    
}

.eng{
 
    color: white;
   align-items: center;
 margin-left: 180px;
position: absolute;
 display: flexbox;
 margin-top: 160px;
 font-size: x-large;
    
}

.engt{
    font-size: medium;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    
}

.first{
    padding-top: 25px;
    border-bottom: 5px solid lightslategray ;
    
}

.div{
    margin-left: 600px;
    position: relative;
   
    display: flexbox;
   
    
    
}

.eng{
 
    color: white;
   align-items: center;
 margin-left: 180px;
position: absolute;
 display: flexbox;
 margin-top: 160px;
 font-size: x-large;
    
}

.sunny{

    margin-top: 100px;
    margin-left: 500px;
}